<header class="main-header">
	<a href="#" class="logo">

		<span class="logo-mini">
			DFP
		</span>

		<span class="logo-lg">
			DYNAMIC FORM
		</span>
	</a>

	<nav class="navbar navbar-static-top">

		<a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
			<span class="sr-only">Menüler</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</a>

		<div class="navbar-custom-menu">
			<ul class="nav navbar-nav">
				<li class="dropdown messages-menu">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<i class="fa fa-bell-o"></i>
						<span class="label label-warning navuyarisayi">
							0
						</span>
					</a>
					<ul class="dropdown-menu">
						<li id="navuyariyok" class="header text-center">
							Bir Bildirim Bulunmamaktadır !
						</li>
						<li>
							<ul id="navuyari" class="menu"></ul>
						</li>
						<li class="footer">
							<a href="#">Tümünü Göster</a>
						</li>
					</ul>
				</li>
				<li class="dropdown messages-menu">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<i class="fa fa-flag-o"></i>
						<span class="label label-danger navbildirimsayi">0</span>
					</a>
					<ul class="dropdown-menu">
						<li id="navbildirimyok" class="header text-center">Bir Uyarı Bulunmaktadır !</li>
						<li>
							<ul id="navbildirim" class="menu"></ul>
						</li>
						<li class="footer"><a href="#">Tümünü Göster</a></li>
					</ul>
				</li>
				<li class="dropdown user user-menu">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<img src="~/Assets/Images/Default.jpg" class="user-image" alt="Kullanıcı Foto" />
						<span class="hidden-xs">
							Erdinç YILDIRIM
						</span>
					</a>
					<ul class="dropdown-menu">
						<li class="user-header">
							<img src="~/Assets/Images/Default.jpg" class="img-circle" alt="Kullanıcı Foto" />

							<p>
								Erdinç YILDIRIM
								<small>
									Senior Software Developer
								</small>
							</p>
						</li>
						<li class="user-footer">
							<div class="pull-right">
								<a href="/Login/Logout" class="btn btn-default btn-flat">Oturumu Kapat</a>
							</div>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</nav>
</header>